 #game {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin: 5% 15%;
   justify-items: center;
 }
 #game div {
    border: 1px solid #AFD275;
    width: 30%;
    height: 100px;
    margin: 10px;
    border-radius: 20%;
} 

body {
  font-family: 'Luckiest Guy', cursive, helvetica, sans-serif;
  background-color: #7E685A;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 4fr 0.5fr;
  color: #AFD275;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #AFD275;
  margin: 0 5%;
}
header h1{
  text-align: center;
  font-size: 3em;
  margin:0;
  padding: 0;
}

.buttons {
  color: #7E685A;
  background: #AFD275;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px gray;
  margin-bottom: 10%;
}

.buttons p {
  text-align: center;
}


section {
  display:flex;
  flex-direction: column;
  justify-content: center;
}



footer {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  border-top: 2px solid #AFD275;
  margin: 3% 5% 0% 5%;
  padding-bottom: 0;
}


.blue {
  background: url('../assets/difficult/blue.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}
.black {
  background: url('../assets/difficult/black.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}
.green {
  background: url('../assets/difficult/green.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}
.skyblue {
  background: url('../assets/difficult/collar.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}
.orange {
  background: url('../assets/difficult/orange.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}
.white {
  background: url('../assets/difficult/white.png') no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}

.hide {
  background: none;
}

#score {
  text-align: center;
  font-size: 1.5em;
}
