body {
  font-family: 'Luckiest Guy', cursive, helvetica, sans-serif;
  background-color: #7E685A;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  color: #AFD275;
}

header {
  text-align: center;
  font-size: 2em;
}

section {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.ask-level {
  text-align: center;
  margin-bottom: 5%;
  font-family: helvetica, sans-serif;
}

.level-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 2%;
  font-family: helvetica, sans-serif;
}
.easy {
  max-width: 100%;
  max-height: 100%;
  text-align:center;
  box-shadow:20px 20px 50px 15px grey;  
}

.difficult {
  max-width: 100%;
  max-height: 100%;
  text-align:center;
  box-shadow:20px 20px 50px 15px grey;  
}

.hard {
  max-width: 100%;
  max-height: 100%;
  text-align:center;
  box-shadow:20px 20px 50px 15px grey;  
}

footer {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  border-top: 2px solid #AFD275;
  margin: 3% 5% 0% 5%;
}